@font-face {
  font-family: "toolkit-entypo";
  src: url('http://localhost:3000/fonts/toolkit-entypo.eot');
  src: url('http://localhost:3000/fonts/toolkit-entypo.eot?#iefix') format("eot"), url('http://localhost:3000/fonts/toolkit-entypo.woff2') format("woff2"), url('http://localhost:3000/fonts/toolkit-entypo.woff') format("woff"), url('http://localhost:3000/fonts/toolkit-entypo.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

:global {
  @import 'base';
  @import '~normalize.css/normalize';

  // Some best-practice CSS that's useful for most apps
  // Just remove them if they're not what you want
  html {
    box-sizing: border-box;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  /* global spacing overrides */
  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-top: 0;
  }
  hr {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .navbar-fixed-top,
  .navbar-static-top {
    border-bottom: 0;
  }

  body {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #cfd2da;
    background-color: #252830;
  }
  .date-picker-popover {
    background-color: #333;
    .popover-title{
      color: #000;
    }
  }
  .modal-title {
    color: #000000;
  }
  .sweet-alert h2{
    color: #000;
  }
  #error-container {
    margin-top: -60px;
    position: fixed;
    width: 90%;
    box-sizing: border-box;
    padding: 0;
    z-index:9999;
  }
}
